.header-container {
    display: block;
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #E6E6E8;
}

.logo {
    width: 130px;
    height: 20px;
    cursor: pointer;
    outline: 0;
    font-size: 25px;
    position: relative;
    top: 21px;
}

#sidebar {
    display: flex;
    transition: all 0.4s;
}

.AiOutlineMenu {
    display: flex;
    font-size: 25px;
    position: absolute;
    top: 18px;
    left: 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
}

/* sidebar 부분 */

.sidebar-container {
    position: absolute;
    width: 250px;
    height: 100vh;
    z-index: 2;
    bottom: 0px;
    background: #191919;
    border-right: 1px solid #E6E6E8;
}

.not-open-sidebar {
    margin-left: -250px;
}

.RiCloseFill {
    position: absolute;
    font-size: 26px;
    cursor: pointer;
    top: 20px;
    left: 210px;
    color: #fff;
}

.menu-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
}

.sign-btn, .list-btn, .admin {
    width: 250px;
    height: 70px;
    outline: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    transition: 0.1s;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.sign-btn:hover, .list-btn:hover, .admin:hover {
    transition: 0.1s;
    background: white;
    color: #191919;
}  

@media (min-width: 250px) and (max-width: 1024px) {
    .sidebar-container {
        top: 0px;
    }
}