.signForm-container {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}

.sign-text-h2 {
    font-weight: 500;
    color: #191919;
    text-align: center;
} 

.lab-div {
    margin-top: 40px;
}

.lab-select, .name-input, .schoolNum-input, .pw-input {
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background: #F3F5F7;
    color: #191919;
    padding: 0 10px;
}

.lab-select:focus, .name-input:focus, .schoolNum-input:focus, .pw-input:focus {
    border: 2px solid #006FFF;
}

.select-lab, .name-lab, .school-lab, .pw-lab {
    font-size: 13px;
    position: relative;
    bottom: 5px;
}

@media(min-width:250px) and (max-width:450px) {
    .lab-select, .name-input, .schoolNum-input, .pw-input {
        width: 300px;
        height: 40px;
    }
}